.extract-image {
    background-color: #c7c7c7;
    width: 560px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .extract2-image {
    background-color: #c7c7c7;
    width: 560px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
